/* ============================================================================
 * # Base
 * ============================================================================ */

body {
  font-family: var(--font-dm-sans);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
  &:not(:last-child) {
    margin-bottom: var(--spacing-md);
    @variant md {
      margin-bottom: var(--spacing-lg);
    }
  }
}
