/* ============================================================================
 * # Headlines
 * ========================================================================== */

.headline-xl {
  font-size: clamp(
    var(--text-headline-xl-font-size-min),
    var(--text-headling-xl-font-size-fluid),
    var(--text-headline-xl-font-size-max)
  );

  font-family: var(--font-primary);
  font-weight: var(--text-headline-xl-font-weight);
  line-height: var(--text-headline-xl-line-height);
  letter-spacing: var(--text-headline-xl-letter-spacing);
  text-transform: var(--text-headline-xl-text-transform);
}

@variant md {
  .headline-xl {
    font-family: var(--font-primary);
    font-weight: var(--text-headline-xl-mobile-font-weight);
    line-height: var(--text-headline-xl-mobile-line-height);
    letter-spacing: var(--text-headline-xl-mobile-letter-spacing);
    text-transform: var(--text-headline-xl-mobile-text-transform);
  }
}

.headline-lg {
  font-size: clamp(
    var(--text-headline-lg-font-size-min),
    var(--text-headling-lg-font-size-fluid),
    var(--text-headline-lg-font-size-max)
  );

  font-family: var(--font-primary);
  font-weight: var(--text-headline-lg-font-weight);
  line-height: var(--text-headline-lg-line-height);
  letter-spacing: var(--text-headline-lg-letter-spacing);
  text-transform: var(--text-headline-lg-text-transform);
}

@variant md {
  .headline-lg {
    font-family: var(--font-primary);
    font-weight: var(--text-headline-lg-mobile-font-weight);
    line-height: var(--text-headline-lg-mobile-line-height);
    letter-spacing: var(--text-headline-lg-mobile-letter-spacing);
    text-transform: var(--text-headline-lg-mobile-text-transform);
  }
}

.headline {
  font-size: clamp(
    var(--text-headline-font-size-min),
    var(--text-headling-font-size-fluid),
    var(--text-headline-font-size-max)
  );

  font-family: var(--font-primary);
  font-weight: var(--text-headline-font-weight);
  line-height: var(--text-headline-line-height);
  letter-spacing: var(--text-headline-letter-spacing);
  text-transform: var(--text-headline-text-transform);
}

@variant md {
  .headline {
    font-family: var(--font-primary);
    font-weight: var(--text-headline-mobile-font-weight);
    line-height: var(--text-headline-mobile-line-height);
    letter-spacing: var(--text-headline-mobile-letter-spacing);
    text-transform: var(--text-headline-mobile-text-transform);
  }
}
