/* ============================================================================ 
  * # Primitives: Fonts
  * =========================================================================== */

@theme {
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-onset: "Onset";
  --font-dm-sans: "DM Sans", serif;
}
