/* ============================================================================ 
  * # Primitives 
  * ===========================================================================
  
  Table of Contents
  - Fonts
  - Colors
  - Text

*/

@theme {

  /* tracking */

  /* # Fonts 
   * ------------------------------------------------------------------------*/
  --font-onset: "Onset", sans-serif;
  --font-dm-sans: "DM Sans", serif;

  --h1-min-size: 50px;
  --h1-max-size: 78px;
  --h1-min-line-height: 50px;
  --h1-max-line-height: 78px;
  --h1-min-letter-spacing: -1.25px;
  --h1-max-letter-spacing: -3.9px;
  --h1-weight: 700;
  --h1-fluid-factor: 5vw;

  --h2-large-min-size: 32px;
  --h2-large-max-size: 50px;
  --h2-large-min-line-height: 36px;
  --h2-large-max-line-height: 54px;
  --h2-large-min-letter-spacing: 0px;
  --h2-large-max-letter-spacing: -2.5px;
  --h2-large-weight: 600;
  --h2-large-fluid-factor: 5vw;

  --h2-medium-min-size: 28px;
  --h2-medium-max-size: 42px;
  --h2-medium-min-line-height: 34px;
  --h2-medium-max-line-height: 46px;
  --h2-medium-min-letter-spacing: 0px;
  --h2-medium-max-letter-spacing: -2.1px;
  --h2-medium-weight: 600;
  --h2-medium-fluid-factor: 5vw;


  /* H2 Medium Variant
  --h2-medium-size: 42px;
  --h2-medium-line-height: 46px;
  --h2-medium-letter-spacing: -2.1px;
  --h2-medium-weight: 700;
 */


  /* # Colors - https://uicolors.app/generate
   * ------------------------------------------------------------------------*/
  --color-scooter-50: #ebfeff;
  --color-scooter-100: #cefbff;
  --color-scooter-200: #a2f6ff;
  --color-scooter-300: #63ecfd;
  --color-scooter-400: #1cd8f4;
  --color-scooter-500: #00cbec;
  --color-scooter-600: #0395b7;
  --color-scooter-700: #0a7794;
  --color-scooter-800: #126078;
  --color-scooter-900: #144f65;
  --color-scooter-950: #063446;

  --color-caribbean-green-50: #eafff7;
  --color-caribbean-green-100: #cdfee9;
  --color-caribbean-green-200: #a0fad8;
  --color-caribbean-green-300: #63f2c4;
  --color-caribbean-green-400: #25e2ac;
  --color-caribbean-green-500: #00cb98;
  --color-caribbean-green-600: #00a47b;
  --color-caribbean-green-700: #008366;
  --color-caribbean-green-800: #006752;
  --color-caribbean-green-900: #005545;
  --color-caribbean-green-950: #003028;

  --color-lilac-bush-50: #f7f5fd;
  --color-lilac-bush-100: #f0ecfb;
  --color-lilac-bush-200: #e2dbf9;
  --color-lilac-bush-300: #ccbef4;
  --color-lilac-bush-400: #b399ec;
  --color-lilac-bush-500: #a27be5;
  --color-lilac-bush-600: #8a50d7;
  --color-lilac-bush-700: #7a3ec3;
  --color-lilac-bush-800: #6634a3;
  --color-lilac-bush-900: #552c86;
  --color-lilac-bush-950: #351b5a;

  /* # Text
 * ------------------------------------------------------------------------*/
  --text-h1: clamp(40px, 5vw + 1rem, 78px);
  --text-h2: clamp(28px, 4vw + 0.8rem, 42px);
  --text-h3: clamp(20px, 3vw + 0.6rem, 32px);
  --text-body: clamp(12px, 2.5vw, 16px);
  --text-ui: clamp(14px, 2.5vw, 18px);

}