/* ============================================================================ 
* Semantics 
* ============================================================================ */
@theme {
  --radius: var(--radius-lg);

  --color-primary: var(--color-scooter-500);
  --color-secondary: var(--color-caribbean-green-500);

  --font-display: var(--font-onset);
  /* h1, h2, hero sections */
  --font-heading: var(--font-onset);
  /* h3–h6, UI headings */
  --font-body: var(--font-dm-sans);
  /* paragraphs, default text */
  --font-ui: var(--font-dm-sans);
  /* buttons, inputs, labels */
  --font-mono: ui-monospace, monospace;
  /* code, technical UI */


  --gradient-primary: linear-gradient(90deg, #00c48d 0%, #00c4e9 50%, #9c7dde 100%);

}