/* ============================================================================ 
* Semantics 
* ============================================================================ */
/* 
  Font Display: h1, h2, Hero Sections
  Font Headings: UI Headings
  Font Body: Paragraphs, inputs,labels
  Font UI:inputs,labels
*/

@theme {
  --radius: var(--radius-lg);

  --color-primary: var(--color-scooter-500);
  --color-secondary: var(--color-caribbean-green-500);

  --font-display: var(--font-onset);
  --font-heading: var(--font-onset);
  --font-body: var(--font-dm-sans);
  --font-ui: var(--font-dm-sans);

  --gradient-primary: linear-gradient(90deg, #00c48d 0%, #00c4e9 50%, #9c7dde 100%);
}