/* ============================================================================
 * # Semantics: Typography
 * ========================================================================== */

@theme {
  /* --------------------------------------------------------------------------
   * # Base Fonts
   * ------------------------------------------------------------------------ */
  --font-primary: var(--font-onset);
  --font-secondary: var(--font-dm-sans);

  /* --------------------------------------------------------------------------
  * # Body
  * ------------------------------------------------------------------------ */

  --text-body-xl-font-family: var(--font-secondary);
  --text-body-xl-font-size: 1.25rem; /* 20px */
  --text-body-xl-font-weight: normal;
  --text-body-xl-line-height: normal;
  --text-body-xl-letter-spacing: normal;
  --text-body-xl-text-transform: none;

  --text-body-lg-min: 1.125rem; /* 18px */
  --text-body-lg-max: 1.125rem;
  --text-body-lg-fluid: 1vw;
  --text-body-lg-font-family: var(--font-secondary);
  --text-body-lg-font-weight: normal;
  --text-body-lg-line-height: 1.4;
  --text-body-lg-letter-spacing: normal;
  --text-body-lg-text-transform: none;

  --text-body-font-family: var(--font-secondary);
  --text-body-font-size: 1rem; /* 16px */
  --text-body-font-weight: normal;
  --text-body-line-height: 1.4;
  --text-body-letter-spacing: normal;
  --text-body-text-transform: none;

  --text-body-sm-font-family: var(--font-secondary);
  --text-body-sm-font-size: 0.875rem; /* 14px */
  --text-body-sm-font-weight: normal;
  --text-body-sm-line-height: normal;
  --text-body-sm-letter-spacing: normal;
  --text-body-sm-text-transform: none;

  --text-body-xs-font-family: var(--font-secondary);
  --text-body-xs-font-size: 0.75rem; /* 12px */
  --text-body-xs-font-weight: normal;
  --text-body-xs-line-height: normal;
  --text-body-xs-letter-spacing: normal;
  --text-body-xs-text-transform: none;

  /* --------------------------------------------------------------------------
   * Displays
   * ------------------------------------------------------------------------ */

  --text-display-min: 45px;
  --text-display-max: 120px;
  --text-display-fluid: 8vw;

  --text-display-line-height-min: 50px;
  --text-display-line-height-max: 115px;
  --text-display-line-height-fluid: 8vw;

  --text-display-font-family: var(--font-primary);
  --text-display-font-weight: 700;
  --text-display-letter-spacing: -4.2px;
  --text-display-text-transform: none;

  --text-display-mobile-font-family: var(--font-primary);
  --text-display-mobile-font-weight: 700;
  --text-display-mobile-letter-spacing: -1.25px;

  /* --------------------------------------------------------------------------
   * # Headlines
   * ------------------------------------------------------------------------ */

   /* XL */
  --text-headline-xl-font-size-min: 50px; 
  --text-headline-xl-font-size-max: 78px;
  --text-headline-xl-font-size-fluid: 5vw;
  
  --text-headline-xl-line-height-min: 50px;
  --text-headline-xl-line-height-max: 78px;
  --text-headline-xl-line-height-fluid: 5vw;

  --text-headline-xl-font-family: var(--font-primary);
  --text-headline-xl-font-weight: 700;
  --text-headline-xl-letter-spacing: -3.9px;
  --text-headline-xl-text-transform: none;

  --text-headline-xl-mobile-font-family: var(--font-primary);
  --text-headline-xl-mobile-font-weight: 700;
  --text-headline-xl-mobile-letter-spacing: -1.25px;
  --text-headline-xl-mobile-text-transform: none;

  /* LG */
  --text-headline-lg-font-size-min: 32px; 
  --text-headline-lg-font-size-max: 50px;
  --text-headline-lg-font-size-fluid: 4vw;

  --text-headline-lg-line-height-min: 36px;
  --text-headline-lg-line-height-max: 54rem;
  --text-headline-lg-line-height-fluid: 5vw;

  --text-headline-lg-font-family: var(--font-primary);
  --text-headline-lg-font-weight: 600;
  --text-headline-lg-letter-spacing: -2.5px;
  --text-headline-lg-text-transform: 0;

  --text-headline-lg-mobile-font-family: var(--font-primary);
  --text-headline-lg-mobile-font-weight: 600;
  --text-headline-lg-mobile-letter-spacing: 0;
  --text-headline-lg-mobile-text-transform: 0;

  /* MD */
  --text-headline-md-font-size-min: 28px; 
  --text-headline-md-font-size-max: 42px;
  --text-headline-md-font-size-fluid: 4vw;

  --text-headline-md-line-height-min: 34px;
  --text-headline-md-line-height-max: 46px;
  --text-headline-md-line-height-fluid: 4vw;
  
  --text-headline-md-font-family: var(--font-primary);
  --text-headline-md-font-weight: 700;
  --text-headline-md-letter-spacing: -2.1px;
  --text-headline-md-text-transform: 0;
  
  --text-headline-md-mobile-font-family: 0;
  --text-headline-md-mobile-font-weight: 600;
  --text-headline-md-mobile-letter-spacing: 0;
  --text-headline-md-mobile-text-transform: 0;

  /* SM */
  --text-headline-sm-font-size-min: 28px; 
  --text-headline-sm-font-size-max: 37px;
  --text-headline-sm-font-size-fluid: 5vw;

  --text-headline-sm-line-height-min: 34px;
  --text-headline-sm-line-height-max: 41px;
  --text-headline-sm-line-height-fluid: 5vw;

  --text-headline-sm-font-family: 0;
  --text-headline-sm-font-weight: 700;
  --text-headline-sm-letter-spacing: -1.85px;
  --text-headline-sm-text-transform: 0;

  --text-headline-sm-mobile-font-family: 0;
  --text-headline-sm-mobile-font-weight: 700;
  --text-headline-sm-mobile-letter-spacing: -1.4px;
  --text-headline-sm-mobile-text-transform: 0;

  /* XS */
  --text-headline-xs-font-size-min: 26px;
  --text-headline-xs-font-size-max: 26px;
  --text-headline-xs-font-size-fluid: 5vw;

  --text-headline-xs-line-height-min: 28px;
  --text-headline-xs-line-height-max: 28px;
  --text-headline-xs-line-height-fluid: 5vw;

  --text-headline-xs-font-family: 0;
  --text-headline-xs-font-weight: 700;
  --text-headline-xs-letter-spacing: -1.25px;
  --text-headline-xs-text-transform: 0;

  --text-headline-xs-mobile-font-family: 0;
  --text-headline-xs-mobile-font-weight: 600;
  --text-headline-xs-mobile-letter-spacing: -1.25px;
  --text-headline-xs-mobile-text-transform: 0;
}
