/* ============================================================================ 
  * # Button 
  * ============================================================================ */

@theme static {
  --radius-button-radius: var(--radius-4xl);

  /* ==============================
     # Primary
  ============================== */

  /* -- Text -- */
  --color-button-primary-text-foreground: var(--color-primary);
  --color-button-primary-text-background: transparent;
  --color-button-primary-text-background-hover: "";
  --border-color-button-primary-text-border: transparent;

  /* -- Solid -- */
  --color-button-primary-solid-foreground: #11111F;
  --color-button-primary-solid-background: var(--color-primary);
  --color-button-primary-solid-background-hover: var(--color-primary);
  --border-color-button-primary-solid-border: var(--color-primary);

  /* -- Outlined -- */
  --color-button-primary-outlined-foreground: var(--color-primary);
  --color-button-primary-outlined-background: #fff;
  --color-button-primary-outlined-background-hover: hsl(240 4.8% 95.9%);
  --border-color-button-primary-outlined-border: hsl(240 5.9% 90%);


  /* ==============================
     # Secondary
  ============================== */

  /* -- Text -- */
  --color-button-secondary-text-foreground: var(--color-secondary);
  --color-button-secondary-text-background: hsl(0 0% 100%);
  --color-button-secondary-text-background-hover: hsla(0 0% 0% / 0.3);
  --border-color-button-secondary-text-border: hsl(0 0% 100%);

  /* -- Solid -- */
  --color-button-secondary-solid-foreground: #11111F;
  --color-button-secondary-solid-background: var(--color-secondary);
  --color-button-secondary-solid-background-hover: var(--color-secondary);
  --border-color-button-secondary-solid-border: var(--color-secondary);

  /* -- Outlined -- */
  --color-button-secondary-outlined-foreground: var(--color-secondary);
  --color-button-secondary-outlined-background: #fff;
  --color-button-secondary-outlined-background-hover: hsl(240 4.8% 95.9%);
  --border-color-button-secondary-outlined-border: hsl(240 5.9% 90%);


  /* ==============================
     # Gradient
  ============================== */

  /* -- Text -- */
  --color-button-gradient-text-foreground: "";
  --color-button-gradient-text-background: "";
  --color-button-gradient-text-background-hover: "";
  --border-color-button-gradient-text-border: "";

  /* -- Solid -- */
  --color-button-gradient-solid-foreground: #11111F;
  --color-button-gradient-solid-background: "";
  --color-button-gradient-solid-background-hover: "";
  --border-color-button-gradient-solid-border: transparent;

  /* -- Outlined -- */
  --color-button-gradient-outlined-foreground: var(--color-gradient);
  --color-button-gradient-outlined-background: "";
  --color-button-gradient-outlined-background-hover: "";
  --border-color-button-gradient-outlined-border: "";

  /* ==============================
     Button Sizes
  ============================== */
  --spacing-button-xs-x: --spacing(3.5);
  --text-button-xs-size: var(--text-xs);

  --spacing-button-sm-x: --spacing(4.5);
  --text-button-sm-size: var(--text-sm);

  --spacing-button-md-x: --spacing(5.5);
  --text-button-md-size: var(--text-md);

  --spacing-button-lg-x: --spacing(6.5);
  --text-button-lg-size: var(--text-lg);

  --spacing-button-xl-x: --spacing(7.5);
  --text-button-xl-size: var(--text-xl);
}